Body { 
  .output-frame {
  background-color: transparent;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.output-frame .container-frame-wrapper {
  width: 1932px;
  height: 3140px;
}

.output-frame .container-frame {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 0px 246px;
  position: relative;
  background-color: #161616;
}

.output-frame .wireframe {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 3140px;
  align-items: flex-start;
  gap: 10px;
  padding: 151px 0px;
  position: relative;
  background-color: #161616;
}

.output-frame .section-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 32px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.output-frame .main-features {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: var(--collection-1-primary-text);
  font-size: var(--h2-font-size);
  text-align: center;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}

.output-frame .elements {
  align-items: center;
  justify-content: center;
  gap: 24px 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.output-frame .box {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  border-radius: 16px;
}

.output-frame .title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--headline-4-font-family);
  font-weight: var(--headline-4-font-weight);
  color: var(--colors-miscellaneous-segmented-control-selected-fill);
  font-size: var(--headline-4-font-size);
  text-align: center;
  letter-spacing: var(--headline-4-letter-spacing);
  line-height: var(--headline-4-line-height);
  font-style: var(--headline-4-font-style);
}

.output-frame .section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px 32px;
  padding: 32px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.output-frame .copy {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.output-frame .headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.output-frame .h-title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 400;
  color: var(--collection-1-primary-text);
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.output-frame .text-wrapper {
  font-weight: var(--headline-1-font-weight);
  font-family: var(--headline-1-font-family);
  font-style: var(--headline-1-font-style);
  letter-spacing: var(--headline-1-letter-spacing);
  line-height: var(--headline-1-line-height);
  font-size: var(--headline-1-font-size);
}

.output-frame .span {
  font-family: var(--headline-1-strong-font-family);
  font-weight: var(--headline-1-strong-font-weight);
  font-style: var(--headline-1-strong-font-style);
  letter-spacing: var(--headline-1-strong-letter-spacing);
  line-height: var(--headline-1-strong-line-height);
  font-size: var(--headline-1-strong-font-size);
}

.output-frame .chips {
  display: flex;
  flex-wrap: wrap;
  width: 295px;
  align-items: center;
  justify-content: center;
  gap: 16px 16px;
  position: relative;
  flex: 0 0 auto;
}

.output-frame .chip {
  display: flex;
  width: 135px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  border-radius: 8px;
}

.output-frame .label {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  margin-left: -3.50px;
  margin-right: -3.50px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-primary-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.output-frame .visual {
  display: flex;
  min-width: 320px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 48px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.output-frame .images {
  position: relative;
  width: 399px;
  height: 548px;
  aspect-ratio: 0.73;
  object-fit: cover;
}

.output-frame .elements-wrapper {
  display: flex;
  gap: 32px;
  padding: 32px 0px;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.output-frame .div {
  align-items: flex-start;
  gap: 24px 122px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.output-frame .frame {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 122px;
  position: relative;
}

.output-frame .box-2 {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  border-radius: 16px;
}

.output-frame .title-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--headline-4-font-family);
  font-weight: var(--headline-4-font-weight);
  color: var(--collection-1-primary-text);
  font-size: var(--headline-4-font-size);
  text-align: center;
  letter-spacing: var(--headline-4-letter-spacing);
  line-height: var(--headline-4-line-height);
  font-style: var(--headline-4-font-style);
}

.output-frame .description {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-secondarytext);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.output-frame .rectangle {
  width: 602px;
  object-fit: cover;
  position: relative;
  height: 404px;
}

.output-frame .frame-2 {
  width: 659px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 122px;
  position: relative;
}

.output-frame .img {
  width: 616px;
  object-fit: cover;
  position: relative;
  height: 404px;
}

.output-frame .div-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0px;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.output-frame .elements-2 {
  align-items: flex-start;
  gap: 24px 122px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.output-frame .screenshot {
  position: relative;
  width: 606px;
  height: 424px;
  aspect-ratio: 1.43;
  object-fit: cover;
}

.output-frame .section-main-2 {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px 300px;
  margin-bottom: -33.00px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.output-frame .elements-3 {
  width: 728px;
  align-items: center;
  justify-content: center;
  gap: 24px 122px;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.output-frame .rectangle-2 {
  width: 616px;
  position: relative;
  height: 404px;
}
}
